<div class="container">
  <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit "Make List", class: "btn btn-primary" %>
      <%= f.input :photo, as: :file %>
<% end %>
</div>
